<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>File</ion-button>
      <ion-button>Edit</ion-button>
      <ion-button>View</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-container">
    <table>
      <tr *ngFor="let row of dataBlock; let i = index">
        <td [ngClass]="dataBlock[i][j].status" 
          (mouseup)="mouseUp(i, j)" (mousedown)="mouseDown(i, j)"
          (mouseover)="mouseOver($event, i, j)" (mouseleave)="mouseLeave($event, i, j)" *ngFor="let cell of row; let j = index; trackByItems"
          style="min-width: 100px; max-width: 100px;" class="cell">
          <ion-input style="padding: 5" type="text" [(ngModel)]="dataBlock[i][j].value"></ion-input>
        </td>
      </tr>
    </table>
  </div>
</ion-content>